/**** Importation des polices ****/

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Pacifico&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input,
button {
    border: none;
    outline: none;
}

/**** Variables css ****/

:root {
    /* var colors */
    --color-dark: #1b2d45;
    --color-white: #fffffe;
    --color-yellow: #fde24f;
    --color-blue: #b7c9e4;

    /* var font Family */
    --font-family-title: "Pacifico", sans-serif;
    --font-family: "Figtree", sans-serif;

    /* var font Size */
    --font-size-display1: 3rem;
    --font-size-p: 1rem;
    --font-size-h1: 3rem;
    --font-size-h2: 1.4rem;

    /* var font Weight */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/**** Font Style ****/

.display1 {
    font-size: var(--font-size-display1);
    font-weight: var(--font-weight-bold);
}

h1 {
    font-size: var(--font-size-h1);
    text-transform: capitalize;
    text-align: center;
    font-weight: var(--font-weight-bold);
    margin: 0;
    color: var(--color-dark);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

h1,
h2 {
    font-family: var(--font-family-title);
}

p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    font-family: var(--font-family);
}

/**** html ****/

html {
    scroll-behavior: smooth;
}

/**** body ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(img/background-meteo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-regular);
    transition: all 0.2s ease-in-out;
}


/**** loader ****/

.loader {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: display-loader 3s linear;
    visibility: hidden;
}

@keyframes display-loader {
    0% {
        visibility: visible;
        opacity: 0.7;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--color-dark);
    margin: 10px;
    animation: bounce 0.5s ease-in-out infinite;
}

.circle:nth-child(2) {
    animation-delay: 0.1s;
}

.circle:nth-child(3) {
    animation-delay: 0.2s;
}

/**** Animation bounce ****/

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


/**** header, footer ****/

header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
}

/**** main ****/

.main__content {
    width: 100%;
    max-width: 500px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--color-dark);
    padding: 20px;
    border-radius: 8px;
}

/**** section container ****/

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome {
    text-align: center;
    color: var(--color-white);
}

/**** formulaire ****/

form {
    display: flex;
    gap: 20px;
}

input,
button {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    border-radius: 4px;
    padding: 12px;
}

input {
    width: 100%;
    color: var(--color-dark);
    background-color: var(--color-white);
    border: 3px solid var(--color-yellow);
}

input::placeholder {
    color: var(--color-dark);
    opacity: 1;
}

input:focus {
    background-color: var(--color-yellow);
}

button {
    color: var(--color-dark);
    background: var(--color-yellow);
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: var(--color-white);
}

/**** card ****/

.card {
    overflow: hidden;
    width: 100%;
    display: flex;
    color: var(--color-dark);
    background-color: var(--color-white);
    border-radius: 4px;
}

/**** card__title ****/

.card__title {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.card__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.card__title h2,
.card__title p {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}

/**** card__weather ****/

.card__weather {
    padding: 20px;
    gap: 20px;
    background-color: var(--color-white);
}

.card__weather__content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card__weather__content h2 {
    margin-bottom: 8px;
}

.card__weather__img {
    overflow: hidden;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__weather__img img {
    height: 100%;
    max-height: 100px;
}

/**** card__grid ****/

.card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/**** Mini Card ****/

.card__humidity,
.card__wind {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: var(--color-dark);
    color: var(--color-white);
}

.card__wind {
    padding-inline-end: 0;
}

.card__humidity {
    padding-inline-start: 0;
}

.card__mini__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__mini__content h2 {
    margin-bottom: 8px;
}

.card__mini__content p {
    color: var(--color-blue);
}

.icon {
    height: 55px;
}

/**** footer ****/

footer p {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    text-align: center;
    color: var(--color-dark);
}

/**** Responsive design version mobile ****/

@media screen and (max-width: 576px) {
    body {
        padding-inline: 20px;
    }

    .main__content {
        gap: 50px;
    }

    form {
        flex-direction: column;
    }

    .card__grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__humidity {
        padding-inline-end: 0;
    }

    .card__wind {
        padding-inline-start: 0;
    }
}